<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/'>Dating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive='active'>Errors</a>
        </li>
        <ng-container *ngIf="accountService.currentUser$|async">
          <li class="nav-item">
          </li>
            <a class="nav-link" routerLink="/members" routerLinkActive='active'>Mathces</a>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists"routerLinkActive='active'>Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive='active'>Messages</a>
          </li>
        </ng-container>
      </ul>
      
      <div class="super-menu">

      <form
        class="d-flex"
        *ngIf="(accountService.currentUser$ | async)===null"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          style="margin-right: .5rem!important"
          type="text"
          placeholder="Username"
          aria-label="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          style="margin-right: .5rem!important"
          type="password"
          placeholder="Password"
          aria-label="Password"
        />
        <button class="btn btn-outline-success" href="#" type="submit">Login</button>
      </form>

      <div class="btn-group" style="margin-right: 10px;" dropdown *ngIf="(accountService.currentUser$| async) as user" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                aria-controls="dropdown-basic" style="background-color: gray;"> Welcome {{user.username | titlecase}}
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()" href="#">Logout</a>
          </li>
        </ul>
      </div>
      
    </div>

    </div>
  </div>
</nav>
